<% for(var i=0;i < events.length; i++) { %>
<tr>
    <td><%= i+1 %></td>
    <td><%= events[i].slug %></td>
    <td><%= events[i].name %></td>
    <td><%= events[i].description %></td>
    <td><%= new Date(events[i].start_date).toLocaleDateString("en-IN") %></td>
    <td><%= new Date(events[i].end_date).toLocaleDateString("en-IN") %></td>
    <td><%= events[i].is_Published %></td>
    <td>
        <a href="/edit-event?id=<%=events[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient">
                <i class="fas fa-pencil-alt"></i>
            </span>
        </a>
        <a class="btn border-shadow delete" data-id=<%=events[i]._id%>>
            <span class="text-gradient">
                <i class="fa-solid fa-trash"></i>
            </span>
        </a>
    </td>
</tr>
<% } %>